.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* --------------------------- Our css ------------------------ */

.background {
  background: #7F7FD5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 600px;
  width: 800px;
  border-radius: 10px;
}

.racket {
  height: 100px;
  width: 16px;
  background: #1e9600;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1e9600, #fff200);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e9600, #fff200);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);


}

.ball {
  color: red;
  background: #FF0099;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #493240, #FF0099);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #493240, #FF0099);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 32px;
  height: 32px;
  border-radius: 50%; 
  box-shadow: 0 0 9px #FF0000, 0 0 5px #0000FF;
}