.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* --------------------------- Our css ------------------------ */

@font-face {
  font-family: Unbounded;
  src: url(./assets/font/Unbounded-Bold.ttf);
}

body {
  font-family: 'Unbounded', cursive;
}


.board-holder {
  position: relative;
  background-color: yellow;

}

.background {
  position: absolute;
  background: #7F7FD5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 600px;
  width: 800px;
  border-radius: 10px;
}

.wall {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #e8b14b;
  background-image: url("./assets/image/wall.svg");
  background-size: contain;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #1e9600, #fff200); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #1e9600, #fff200); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 2;

}

.tank-holder {
  position: absolute;
  transform-origin: center;
  background: rgb(255, 236, 0);
  background: radial-gradient(circle, rgba(255, 236, 0, 1) 0%, rgba(228, 233, 148, 0) 80%);
  background-image: url("./assets/image/tank.svg");
  background-size: contain;
  scale: 0.8;
  z-index: 3;
}

.tank-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #ffffff;
  font-size: 10px;
}

.target {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* background: #FF0099; */
  font-size: 1vw;
  text-shadow: 2px 2px 1px #000000;
  border-radius: 2px;
  color: #FFDD09;
  font-weight: bold;
  background-image: url("./assets/image/target.svg");
  background-size: contain;
  scale: 0.8;
}

.bullet {
  position: absolute;
  z-index: 2;
  background-image: url("./assets/image/bulletUp.svg");
  background-size: contain;
}

.distructed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  background-image: url("./assets/image/fire.svg");
  background-size: contain;
}